@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');
body{
    background-attachment: fixed;
    background-image: url(https://static.vecteezy.com/system/resources/previews/017/228/158/non_2x/blue-clean-water-wave-with-air-bubbles-free-vector.jpg);
    width:auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #42c9eb;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}
.section-intro {
    height: 680px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Topic1{
    height: 250px;
    font-size:30px;
    text-align: center;
    font-size: large;
    font-family: 'Big Shoulders Text', cursive;
    
}
.Topic2{
    background-color: rgb(66, 249, 255);
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
    opacity: 70%;
}
.Topic3{
    background-color: rgb(66, 249, 255);
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
    opacity: 70%;
}

.row-flex {
    display: flex;
    flex-direction: row;
}
@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }
}
